.App {
  text-align: center;
}
.Spring{
  background-color: aquamarine;
  color: goldenrod;
  
}
.Summer{
  background-color:yellow;
  color:mediumblue;
  
}
.Autumn{
  background-color: chocolate;
  color: white;
  
}
.Winter{
  background-color: white;
  color: black;
  
}